absl-py==2.1.0
anaconda-anon-usage 
archspec 
attrs==24.2.0
boltons 
Brotli 
certifi
cffi
charset-normalizer 
colorama 
conda 
conda-content-trust 
conda-libmamba-solver
conda-package-handling 
conda_package_streaming 
contourpy==1.3.1
cryptography 
cycler==0.12.1
distro 
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.55.3
frozendict 
fsspec
jax==0.4.37
jaxlib==0.4.36
Jinja2==3.1.4
joblib 
jsonpatch 
jsonpointer==2.1
kiwisolver==1.4.7
libmambapy 
MarkupSafe==2.1.5
matplotlib==3.10.0
mediapipe==0.10.20
menuinst 
mkl-service==2.4.0
mkl_fft 
mkl_random 
ml_dtypes==0.5.0
mpmath==1.3.0
networkx==3.3
numpy 
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging 
pandas==2.2.3
pillow==11.0.0
platformdirs 
pluggy 
protobuf==4.25.5
psutil==6.1.1
py-cpuinfo==9.0.0
pycosat 
pycparser 
pyparsing==3.2.0
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.10.0
PySocks 
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests 
ruamel.yaml
ruamel.yaml.clib 
scikit-learn 
scipy 
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==75.1.0
six==1.17.0
sounddevice==0.5.1
sympy==1.13.1
threadpoolctl
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tqdm 
truststore 
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.71
ultralytics-thop==2.0.14
urllib3 
wheel==0.44.0
win-inet-pton 
zstandard 
